       
<section>
    <div class="row">
      <h2 class="" style="text-align:center ;" >ADD CATEGORY</h2>
    </div>
  <div class="container mt-4">

      <div class="col-md-6" >
        
        <form  action="/admin/add-category" method="post"   style="margin-left:13rem ;" >

        <label class="mt-3" for="">Category Name</label>
        <input type="text" name="categoryName" class="form-control" required>

        <label class="mt-4" for="">Description</label>
        <input type="text" name="description" class="form-control" style="height:5rem ;" required>


        <button style="margin-left:10rem !important ;" type="submit" class="btn btn-success mt-4">SUBMIT</button>
      </form>

      </div>
  </div>
</section>
