


<header class="header">

   <nav class="navbar navbar-default no-margin" style="background-color: rgb(187, 216, 241);">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header fixed-brand">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
</button>
         <span><img src="/assets/images/Luxury/SHOP LUXURY sm crop.png" style="width:8rem ;" alt=""></span>
      </div>
      <!-- navbar-header-->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li class="active">
               <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
               </button>
            </li>
         </ul>
      </div>
      <!-- bs-example-navbar-collapse-1 -->
   </nav>
</header>
    
  

<section>
       <div id="wrapper">

        <!-- Sidebar --> 
        <div id="sidebar-wrapper" style="width: 230px;">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"> <span><h4 style="color:white; font-family:cursive ; padding-top: 15px;">hello, Admin </h4> </span>
                </li>
                <li class="pt-3 pr-2"> 
                    <a href="/admin/dashboard"><span><i class="fa fa-dashboard fa-stack-1x "></i>Dashboard</span> </a>
                </li>
                <li class="pt-3">
                    <a href="/admin/products"><span><i class="fa fa-cart-plus fa-stack-1x "></i></span> Products</a>
                </li>
                <li class="pt-3">
                    <a href="/admin/list_user"><span><i class="fa fa-flag fa-stack-1x "></i></span> USERS</a>
                </li>
                <li class="pt-3">
                    <a href="/admin/category"> <span><i class="fa fa-server fa-stack-1x "></i></span> CATEGORY</a>
                </li>
                <li class="pt-3">
                    <a href="/admin/order-list"> <span><i class="fa fa-cart-plus fa-stack-1x "></i></span>ORDERS</a>
                </li>
                
                <li class="pt-3">
                    <a href="/admin/coupons"> <span><i class="fa fa-server fa-stack-1x "></i></span> COUPONS</a>
                </li>
                <li class="pt-3 pr-3">
                    <a href="/admin/sales-report">  SALES REPORT </a>
                </li>
            </ul>
        </div>   
   </div>
</section>

<style>
    .header{
        position: sticky;
    }
.wrapper{
    
    position: sticky !important;
}

</style>