{{!-- <section>
    <div class="container">
            <h3 class="h3 pt-2">ADD ADDRESS</h3>
        <div class="row">
            <div class="col">
                 <form  action="/add-address " class=""   style=" width: 38rem;" id="add-address"  method="POST" >  
               <div class="col-md-12"><label class="labels">Address</label><textarea type="text" class="form-control" placeholder="enter address" value="" name="address"></textarea></div>
                    
                    <div class="col-md-12"><label class="labels">City</label><input type="text" class="form-control" placeholder="enter city" value="" name="city"></div>
                     <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter area" value="" name="area"></div>
                    <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter post code" value="" name="pin"></div>
                     <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state" name="state"></div>
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value="" name="country"></div>  
                    </div>
                    <input type="text" name="userId" value="{{userrole._id}}"   hidden>
                  
             <button type="submit"  style="margin-top: 2rem;" class="btn btn-dark ml-3">Add address</button>
                </form>

            </div>
        </div>

        

    </div>
</section>


<style>
    .h3{
        padding-left: 20rem;
           
    }
.row{
    margin: 3rem;
}
.col{
    padding-left: 10rem;
}

</style> --}}